development:
  article_url_prefix: 'https://example.org/article?id='
  privacy_shield_article_url_prefix: 'https://privacyshield.example.org/article?id='
  stop_fakes_article_url_prefix: 'https://stopfakes.example.org/article?id='
  trade_event_url_prefix: 'https://example.org/trade_event?id='
  trade_lead_url_prefix: 'https://example.org/trade_lead?id='
  web_document_domains: ['foo.example.org', 'bar.example.org']

test:
  article_url_prefix: 'https://example.org/article?id='
  privacy_shield_article_url_prefix: 'https://privacyshield.example.org/article?id='
  stop_fakes_article_url_prefix: 'https://stopfakes.example.org/article?id='
  trade_event_url_prefix: 'https://example.org/trade_event?id='
  trade_lead_url_prefix: 'https://example.org/trade_lead?id='
  web_document_domains: ['foo.example.org']

production:
  article_url_prefix: 'https://example.org/article?id='
  privacy_shield_article_url_prefix: 'https://privacyshield.example.org/article?id='
  stop_fakes_article_url_prefix: 'https://stopfakes.example.org/article?id='
  trade_event_url_prefix: 'https://example.org/trade_event?id='
  trade_lead_url_prefix: 'https://example.org/trade_lead?id='
  web_document_domains: ['foo.example.org', 'bar.example.org']
